{
  "models": [
    {
      "title": "Qwen 7B",
      "provider": "ollama",
      "model": "qwen2.5-coder:7b"
    },
    {
      "title": "Qwen 14B",
      "provider": "ollama",
      "model": "qwen2.5-coder:14b"
    }
  ]
}