# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
wheels/
*.egg-info/

# Virtual environment
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Vector stores
data/vector_store/
faiss_store/
faiss_store_test/

# PDF dataset
data/pdf/

# Database and serialized files
*.sqlite3
*.pkl
# RAG datasets (IMPORTANT)
data/pdf/
data/vector_store/